html {
    background-color: aqua;
    text-align: center;
}
.paragraph{
    text-align: center;
    color: chartreuse ;
    
}
.heading{
    color: blue;
    text-align: center;
}
img{
    height: 400px;
    width: 500px;
    
}